  .afb1 {
  width: 100%; 
  height: 500px; 
  background-image: url('afb1.png'); 
  background-size: cover;
}

.logo {
  width: 100%; 
  height: 300px; 
  background-image: url('quixotic.works-logo.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
