  .afb1 {
  width: 100%; 
  height: 500px; 
  background-image: url('afb1.png'); 
  background-size: cover;
}

.logo {
  background: lightblue;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 24px;
  color: white;
  display: block;
}
